# https://npm.taobao.org/mirrors
# https://docs.npmjs.com/files/npmrc

# npm config ls -l

# It helps to use the same node.js version always
lts/fermium
# https://registry.npmmirror.com/
# registry = https://registry.npmjs.org
registry = https://registry.npmmirror.com/
sentrycli_cdnurl=https://npm.taobao.org/mirrors/sentry-cli/

engine-strict=true
# tag-version-prefix=""
# message="chore(release): %s :tada:"

# npm config ls -l
# npx unimported
# npx depcheck