.sider {
  height: 100%;
  // background: #f1f1f1;
  // border-right: 1px solid #f1f1f1;
}

.proLink {
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  margin-bottom: 5px;
  // border-top: 1px solid #000;
  cursor: pointer;
}
