.menu {
  border-right: 0;
  height: calc(100% - 40px);
  overflow-y: auto;
  overflow-x: hidden;
}

// .menu::-webkit-scrollbar-track {
//   background: hsla(0, 0%, 100%, 0.15);
// }

// .menu::-webkit-scrollbar-thumb {
//   background: hsla(0, 0%, 100%, 0.2);
// }
