.markdownBody {
  background: #282c34;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
}

.copySection {
  margin: 5px 10px;
  text-align: right;
}

.copySpan {
  cursor: pointer;
}

.preCode {
  margin-bottom: 10px;
}
