/* @import '~sanitize.css'; */

/*
:root {
  --scrollbar-size: 6px;
  --scrollbar-track-background-color: #ddd;
  --scrollbar-thumb-background-color: #888;
  --scrollbar-thumb-hover-background-color: #555;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-background-color);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-background-color);
  box-shadow: inset 0 0 5px hsla(0, 0%, 100%, 0.05);
  border-radius: 3px;
}

::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-background-color);
}

div {
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
*/

html,
body {
  height: 100%;
  overflow: hidden;
  text-size-adjust: 100%;
  box-sizing: border-box;
  scrollbar-width: thin;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  scrollbar-width: inherit;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-thumb {
  background: hsl(214, 13%, 75%);
  border-radius: 4px;
}

#root {
  height: 100%;
}

/**
  default antd
*/
body[data-theme='dark'] *::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 24%);
}

body[data-theme='dark'] .ant-back-top,
body[data-theme='light'] .ant-back-top {
  width: 30px;
  height: 30px;
  line-height: 30px;
  right: 30px;
  bottom: 5px;
  border-radius: 100%;
  background-color: #aaa;
  text-align: center;
  margin-top: 2px;
}
body[data-theme='dark'] .header,
body[data-theme='light'] .header {
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
}

body[data-theme='dark'] .container {
  background: #141414;
}

body[data-theme='light'] .container {
  background: #ffffff;
}
