/* stylelint-disable at-rule-no-unknown */

/* @import '~sanitize.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  overflow: hidden;
  text-size-adjust: 100%;
  box-sizing: border-box;
  scrollbar-width: thin;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  scrollbar-width: inherit;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-thumb {
  background: #7e7e7e;
  border-radius: 3px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  transition: background-color 600000s ease-in-out 0s, color 600000s ease-in-out 0s;
}

.text-nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.text-more-line-nowrap {
  overflow: hidden;
  text-overflow: ellipsis;

  /* display: -webkit-box; */
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader:empty {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.5rem !important;
  height: 1.5rem !important;
  border-radius: 50%;
  transform: translate3d(-50%, -50%, 0);
  animation: loading 1.1s infinite linear;
  border: 2px solid #0003;
  border-left: 2px solid #1890ff;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ::-webkit-scrollbar-thumb {
  background: #aaa;
} */

.layout-footer {
  text-align: center;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  padding: 0 !important;
}

.wui-ant-layout-header {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.wui-ant-breadcrumb-separator {
  line-height: 56px;
}

.layout-header {
  padding-left: 20px !important;
}

.layout-content {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.layout-container {
  overflow: auto;
  height: 100%;
  width: 100%;
}

.layout-container .wui-ant-tabs-content > .wui-ant-tabs-tabpane {
  padding: 16px;
}

.layout-container .pro-tabs {
  z-index: 10;
}

.layout-container .pro-tabs .wui-ant-tabs-nav-wrap {
  overflow: visible !important;
}

.layout-container .layout-tabpanel {
  width: 100%;
  min-height: calc(100vh - 232px);
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
