<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <meta name="description" content="promotion web" />
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
  <!-- antd theme less -->
  <link rel="stylesheet" type="text/less" href="./color.less" />
  <script src='./less.min.js'></script>
  <script>
    // https://less.bootcss.com/usage/#browser-usage-setting-options
    window.less = { javascriptEnabled: true, logLevel: 3 };
  </script>
  <!-- antd theme less end -->
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root"></div>
</body>

</html>