.radioContainer {
  display: block;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  color: #333;
}

.radioContainer .checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 13px;
  width: 13px;
  background-color: #efefef;
  border-radius: 50%;
  border: 3px solid #dfe4ed;
}

.radioContainer .checked {
  position: absolute;
  top: 3px;
  left: 0;
  height: 13px;
  width: 13px;
  background-color: #999;
  border-radius: 50%;
  border: 3px solid #efefef;
}
