.breatheItem {
  width: 40px;
  height: 40px;
  background-color: #27c2a3;
  border-radius: 50%;
  text-align: center;
}

.breatheItem::before {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  opacity: 0.7;
  background-color: #27c2a3;
  animation: breathe 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
}

@keyframes breathe {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50%,
  75% {
    -webkit-transform: scale(3);
    transform: scale(3);
  }

  78%,
  to {
    opacity: 0;
  }
}
