.statisticCard {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 820px;
  gap: 20px;

  .statisticCardItem {
    background: #fff;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 10%);
    border-radius: 4px;
    border: 1px solid #ccdaee;
    opacity: 0.9;
    padding: 20px;
    flex-shrink: 0;
    min-width: 400px;
  }
}

.flexRoundSpace {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;

  .flexRoundLeft {
    color: #333;
    display: flex;
    align-items: center;

    span {
      margin-right: 5px;
    }

    img {
      margin-right: 5px;
    }
  }

  .flexRoundRight {
    margin-left: auto;
    display: flex;
    align-items: center;

    span {
      color: #2878ff;
      font-weight: bold;
      font-size: 32px;
      padding-right: 5px;
    }
  }
}
