.progress {
  position: sticky;
  top: 0;
  width: 80px;
  height: 80px;
  margin: 0;
  padding: 0;
}

.progress svg {
  transform: translateX(-100px) rotate(-90deg);
}

circle {
  stroke-width: 5%;
  fill: none;
}

.bg {
  stroke: #aaa;
  opacity: 0.2;
}

.progress .indicator {
  stroke: #f00;
}

.item {
  width: 200px;
  height: 300px;
  border: 2px dotted #aaa;
  margin-left: 300px;
  position: relative;
}
