.alternating {
  animation-name: alternating-text;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  font-weight: 700;
}

@keyframes alternating-text {
  90% {
    display: none;
  }
}
